
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');
body {
    margin: 0;
    line-height: normal;
    }
.bg {
    position: relative;
    background-color: #2f303a;
    width: 100%;
    height: 600px;
    }
.bg2 {
    position: relative;
    background-color: #2f303a;
    width: 100%;
    height: 600px;
    }
.devtop {
    margin: -15px -200px 0px 70px;
    background-color: #2196F3;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.78px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    background-image: linear-gradient(90deg, #2196F3 37%, #000 30%, #000 70%);
    }
.devdown {
    background-color: #2196F3;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.78px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    background-image: linear-gradient(90deg,#2196F3 37%,#fff 30%,#fff 70%);
    }
.tips {
    position: relative;
    border-radius: 4px;
    background-color: #f5f4fa;
    width: 100%;
    height: 120px;
    }
.white-text {
    position: center;
    font-size: 44px;
    letter-spacing: 0.06em;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 1100px;
    margin-left: 276px;
    margin-right: auto;
    margin-top: 195px;

    }   
    .button {
        position: relative;
        border-radius: 4px;
        background-color: #2196f3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        width: 200px;
        height: 50px;
        position: relative;
font-size: 16px;
letter-spacing: 0.06em;
line-height: 30px;
color: #fff;
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
        }    
.botton-text {
    position: relative;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 24px;
    font-family: var(--font-roboto);
    color: #fff;
    text-align: left;
    display: inline-block;
    width: 261px;
    height: 21px;
    }
.botton-grey {
    position: relative;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 24px;
    font-family: var(--font-roboto);
    color: rgba(255, 255, 255, 0.6);
    text-align: left;
    display: inline-block;
    width: 231px;
    height: 21px;
    }
        .black-text {
            position: relative;
            font-size: 14px;
            letter-spacing: 0.02em;
            font-weight: 500;
            font-family: var(--font-roboto);
            color: #212121;
            text-align: left;
            }
            .grey-text {
                position: relative;
                font-size: 14px;
                letter-spacing: 0.02em;
                font-weight: 500;
                font-family: var(--font-roboto);
                color: #757575;
                text-align: left;
                }
                a:hover {
                    color: #0075ff;
                  }
                
                  footer{
                    background-color: #2f303a;
                }
                .bottom-main-text-logo{
                    font-size: 26px;
                    font-weight: 700;
                    line-height: 30.52px;
                    color: white;
                
                }   
                .li {
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                    margin-bottom: 20px;
                  }
                .main-section{
                    background-color:#2f303a ;
                }
                .main-text, .button-pay-main{
                    color: white;
                    text-align: center;
                }
                .main-text{
                    font-size: 44px;
                    font-weight: 900;
                    line-height: 60px;
                }
                
                .button-pay-main{
                    background-color: #2196f3;
                    width: 200px;
                    height: 50px;
                    border: none;
                    border-radius: 4px; 
                }
                
                .header-section-group{
                    font-family: Roboto, sans-serif;
                    font-weight: 700;
                    font-size:14px ;
                    line-height:16.41px;
                
                }
                .feature-group-description{
                    font-family: Roboto, sans-serif;
                    font-weight: 400;
                    font-size: 14px ;
                    line-height: 24px;
                
                }
                
                .second-header-section{
                    font-family: Roboto, sans-serif;
                    font-weight: 700;
                    font-size: 36px ;
                    line-height: 42.19px;
                    text-align: center;
                }
                .second-section-description{
                    color: #757575;
                    font-family: Roboto, sans-serif;
                    font-weight: 400;
                    font-size: 16px ;
                    line-height: 18.75px;
                    text-align: center;
                
                }
                .third-header-text{
                    color: #212121;
                    font-family: Roboto, sans-serif;
                    font-weight: 500;
                    font-size: 16px ;
                    line-height: 18.75px;
                    text-align: center;
                } 

        
